* {
  font-family: Helvetica; }

.style {
  background-color: #000; }

.theme-light body {
  background-color: #fff; }

.theme-dark body {
  background-color: #000; }

.color-light body {
  background-color: #ffffff; }

.color-light .header {
  background-color: #23aad0; }

.color-light .menu a {
  background-color: #cccccc; }

.color-dark body {
  background-color: #000000; }

.color-dark .header {
  background-color: #414141; }

.color-dark .menu a {
  background-color: #ffffff; }

body {
  background-color: #000; }

.container .title {
  font-size: 2em;
  color: #fff; }

.container .animation {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.container .content {
  width: calc(100px - 50px); }

.container .sidebar-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.container .sidebar-left {
  color: #fff; }
