/*
---------- Fonts -------------
*/

$primary-font: Helvetica;


/*
---------- Colors -------------
*/

$white: #fff;
$black: #000;

/*
---------- Sizes -------------
*/

$title-size: 2em;
$text-size: .8em;