// helpers
// tanto variables quanto mixins podem tá dentro de helpers
@import "modules/reset";
@import "helpers/variables";
@import "mixins/mixins";
@import "functions/functions";


body {
  background-color: $black;
}

// Init SASS

.container {

  .title {
		font-size: $title-size;
		color: $white;
	}

	.animation {
		// mixins
		@include transform(rotate(30deg));
	}

	.content {
		// operations
		width: calc(100px - 50px);
	}

	// extends
	%flexbox {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.sidebar-left {
		@extend %flexbox;
		color: $white;
	}

}
