// ----------
// Fonts
// ----------

$primary-font: Helvetica;


// ----------
// Colors
// ----------

$colors-themes: (
	light: (
		bg: #FCFCFC,
		bg-panel:#EBEBEB,
		color-headings: #0077FF,
		color-text: #333333
	),
	dark: (
		bg: #333333,
		bg-panel:#434343,
		color-headings: #3694FF,
		color-text: #B5B5B5
	)
);

// ---------
// Sizes
// ---------
